@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Delivery Goods</h1>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Добро пожаловать на сайт Delivery Goods</h2>
            <p>
                Здесь Вы можете увидеть товары для доставки. Нашу дружную команду доставщиков и саму доставку товаров.
            </p>
        </div>
        <div class="col-md-4">
            <h2>У нас самая быстрая доставка</h2>
            <p>
                Мы используем самые быстрее методы доставки товаров.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Гарантия</h2>
            <p>
                Мы гарантируем Вам целостность товаров. В случае потери или повреждения товара, мы вернем Вам его полную стоимость.
            </p>
        </div>
    </div>